@import url('http://fonts.cdnfonts.com/css/netflix-sans%27');

* {
    margin: 0;
}

body {
    color: white;
    background: black;
    font-family: "Netflix-sans", sans-serif;
}

h3 {
    padding: 15px;
}
